.courses-section {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* ----------- Filtros ---------- */

.filters {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    width: 250px;
}

.filters h3 {
    font-size: 1.5rem;
    color: #6a5b8f;
    margin-bottom: 15px;
}

.filters label {
    font-size: 1rem;
    color: #666;
    margin-bottom: 5px;
    display: block;
}

.filters select,
.filters input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-family: 'Poppins', sans-serif;
}

.filters select:focus,
.filters input:focus {
    outline: none;
    border-color: #6a5b8f;
}

.apply-filters {
    width: 100%;
    padding: 10px;
    background-color: #6a5b8f;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.apply-filters:hover {
    background-color: #594880;
}

.filter-category,
.filter-user,
.filter-date {
    margin-bottom: 15px;
}

.filter-date input {
    margin-bottom: 10px;
}


/* ----------- Cursos ---------- */
.courses-carousel {
    width: 80%;
}

.courses-carousel h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #6a5b8f;
}

/* Grid de los cursos */
.course-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.course-card {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: left;
    transition: transform 0.2s, background-color 0.2s;
}

.course-card:hover {
    transform: scale(1.05);
    background-color: #cacaca;
}

.course-img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 15px;
}

.course-card h3 {
    font-size: 1.6rem;
    color: #6a5b8f;
    margin-bottom: 10px;
}

.stars {
    font-size: 1.3rem;
    color: #6a5b8f;
    margin-bottom: 10px;
}

.course-category {
    display: inline-block;
    background-color: #d0d0d0;
    color: #6a5b8f;
    font-size: 0.9rem;
    padding: 5px 10px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.course-category:hover {
    background-color: #c0c0c0;
}